body {
  background-color: #ffffff;
  font-size: 1cm;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #7aa07a;
  display: block;
  border: 1px;
  font-size: 2em;
}

span {
  font: cardinal;
  color: #FF8A65;
}

li {
    color: wheat;
    background-color: coral;
    display: block;
}
